name: release

on:
  push:
    tags:
      - v*.*.*

env:
  PY_ALL: 3.14t

jobs:
  sdist:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: pyo3/maturin-action@v1
      with:
        rust-toolchain: stable
        command: sdist
        args: --out dist
    - name: Upload sdist
      uses: actions/upload-artifact@v6
      with:
        name: dist-sdist
        path: dist

  wheels:
    name: wheel ${{ matrix.platform || matrix.os }}(${{ matrix.target }}) - ${{ matrix.manylinux || 'auto' }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, macos]
        target: [x86_64, aarch64]
        manylinux: [auto]
        include:
          - os: ubuntu
            platform: linux
            target: i686
          - os: ubuntu
            platform: linux
            target: armv7
          - os: ubuntu
            platform: linux
            target: x86_64
            manylinux: musllinux_1_1
          - os: ubuntu
            platform: linux
            target: aarch64
            manylinux: musllinux_1_1
          - os: ubuntu
            platform: linux
            target: armv7
            manylinux: musllinux_1_1
        exclude:
          - os: ubuntu
            target: x86_64
          - os: macos
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pyo3/maturin-action@v1
        with:
          rust-toolchain: stable
          command: build
          args: --release --out dist --interpreter ${{ matrix.interpreter || env.PY_ALL }}
          target: ${{ matrix.target }}
          manylinux: ${{ matrix.manylinux || 'auto' }}
          container: ${{ matrix.container }}
          docker-options: -e CI
      - name: Upload wheels
        uses: actions/upload-artifact@v6
        with:
          name: dist-${{ matrix.platform || matrix.os }}-${{ matrix.target }}-${{ matrix.manylinux || 'auto' }}
          path: dist

  wheels-pgo:
    name: pgo-wheel ${{ matrix.platform || matrix.os }} (${{ matrix.interpreter }})
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-13, macos-14]
        manylinux: [auto]
        interpreter: ["3.14t"]
        include:
          - os: ubuntu-latest
            platform: linux

    runs-on: ${{ matrix.os }}
    env:
      UV_PYTHON: ${{ matrix.interpreter }}
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v6
        with:
          enable-cache: false
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools
      - name: prepare profiling directory
        shell: bash
        run: mkdir -p ${{ github.workspace }}/profdata
      - name: Build initial wheel
        uses: PyO3/maturin-action@v1
        with:
          rust-toolchain: stable
          command: build
          args: --release --out pgo_wheel --interpreter ${{ matrix.interpreter }}
          manylinux: ${{ matrix.manylinux || 'auto' }}
          docker-options: -e CI
        env:
          RUSTFLAGS: "-Cprofile-generate=${{ github.workspace }}/profdata"
      - run: |
          RUST_HOST=$(rustc -Vv | grep host | cut -d ' ' -f 2) rustup run stable bash -c 'echo LLVM_PROFDATA=$RUSTUP_HOME/toolchains/$RUSTUP_TOOLCHAIN/lib/rustlib/$RUST_HOST/bin/llvm-profdata >> "$GITHUB_ENV"'
        shell: bash
      - name: Generate PGO data
        shell: bash
        run: |
          uv python install ${{ env.UV_PYTHON }}
          uv venv .venv
          uv sync --no-install-project --group test
          uv pip install tonio --no-index --no-deps --find-links pgo_wheel --force-reinstall
          LLVM_PROFILE_FILE=${{ github.workspace }}/profdata/ton_%m_%p.profraw uv run --no-sync pytest tests
      - name: merge PGO data
        run: ${{ env.LLVM_PROFDATA }} merge --failure-mode=all -o ${{ github.workspace }}/merged.profdata ${{ github.workspace }}/profdata
      - name: Build PGO wheel
        uses: PyO3/maturin-action@v1
        with:
          command: build
          args: --release --out dist --interpreter ${{ matrix.interpreter }}
          manylinux: ${{ matrix.manylinux || 'auto' }}
          rust-toolchain: stable
          docker-options: -e CI
        env:
          RUSTFLAGS: "-Cprofile-use=${{ github.workspace }}/merged.profdata"
      - name: Upload wheels
        uses: actions/upload-artifact@v6
        with:
          name: dist-pgo-${{ matrix.platform || matrix.os }}-${{ matrix.interpreter }}
          path: dist

  release:
    runs-on: ubuntu-latest
    needs: [ sdist, wheels, wheels-pgo ]
    environment:
      name: pypi
      url: https://pypi.org/p/tonio
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v7
        with:
          pattern: dist-*
          merge-multiple: true
          path: dist
      - name: Publish package to pypi
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip-existing: true
